extends base

block content 
    form(method="post" enctype="multipart/form-data").edit-profile__form
        label(for="avatar") Avatar 
        input(type="file", id="avatar", name="avatar", acccept="image/*")
        input(type="text", name="username", placeholder="Username", required, value=loggedInUser.username)
        input(type="email", name="email", placeholder="E-mail", required, value=loggedInUser.email)
        input(type="text", name="name", placeholder="Name", required, value=loggedInUser.name)
        input(type="text", name="location", placeholder="Location", value=loggedInUser.location)
        input(type="submit", value="Update profile")
        if !loggedInUser.socialOnly
            div.edit-profile__password
                a(href="change-password") Change Password &rarr;