extends base.pug

block content 
    form(method="post")
        input(name="title", placeholder="Video Title", type="text", value=video.title, maxlength=80, required)
        input(name="description", placeholder="Description", type="text", value=video.description, minlength=20, required)
        input(name="hashtags", placeholder="Hashtags, seperated by comma", type="text", value=video.hashtags.join())
        input(value="Save", type="submit")